/* Soluzione qui */
@media screen and (min-width: 480px){
    #topbar{
        display: flex;
        width: 100%;
        align-items: center;
    }
    .recipe-video img{
        max-width: 100%;
    }

    .recipe-info{
        margin-top: 30px;
    }
}

@media screen and (min-width: 768px){


    main{
        padding: 40px;
    }

    .recipe-info{
        margin-top: 50px;
    }
        
    .recipe-origin{
        display: inline;
    }

    .recipe-name,.recipe-origin{
        font-size: 2rem;
    }

    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes ul li{
        margin: 20px;
    }

    .btn{
        padding-left: 40px;
        padding-right: 40px;
    }

    .ads{
        display: block;
    }

    .clearfix img {
        float: left;
        margin-right: 21px;
    }
}   

@media screen and (min-width: 992px){

    .recipe-name,.recipe-origin{
        font-size: 3rem;
    }
    .recipe-card{
        display: flex;
    }
    
    .recipe-video{
        width: 100%;
    }
    
    .recipe-video img{
        width: 100%;
        height: 100%;
    }
    
    .quick-notes ul{
        display: block;
    }
    
    .quick-notes ul li{
        margin: 20px 10px 20px 10px;
    }
    
    .recipe-info{
        width: 50%;
    }
    
    .btn{
        padding-left: 80px;
        padding-right: 80px;
    }
}